:root {
  --main-dark: #332f3a;
  --main-blue: #01a1e6;
  --light-blue: #aafdd9;
  --accent-red: #720e13;
  --bp-dark: rgba(41, 82, 163, 1);
  --bp-light-blue: rgba(59, 203, 255, 1);
  --bp-accent-dark: rgba(72, 113, 127, 1);
  --bp-accent-light: rgba(47, 162, 204, 1);
}

body {
  background-color: var(--bp-dark);
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  width: 50%;
  width: 50vw;
}

.container p {
  text-align: right;
  padding-right: 3rem;
}

header img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.bp-sections {
  background: url('../images/09white.png'), rgba(41, 82, 163, 9);
  width: 85%;
  width: 85vw;
  margin-bottom: 5rem;
  margin: 5rem auto;
  border: 2px solid #fff;
}

.section-inner {
  padding: 3rem;
}

.topBan {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: right;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 15%;
}

.banTop {
  display: flex;
  border-bottom: 1px solid #fff;
}

.banTop p {
  font-weight: 700;
}

.banTop div {
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  padding: 15px 0 0 0;
}

.banTop div:first-child {
  border-right: 1px solid #fff;
}

.banBot {
  display: flex;
  flex-direction: row;
}

.banLeft {
  width: 30%;
  color: #fff;
  border-right: 1px solid white;
  margin: 0;
  padding: 0;
}

.banLeft a {
  font-size: 2rem;
}

.banLeft a:hover {
  color: white;
}

.banRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0;
  padding: 0;
}

.card-body {
  background-color: transparent;
}

@media (max-width: 767.98px) {
  .topBan {
    display: none;
  }
  .container {
    text-align: center;
    width: 80%;
    width: 80vw;
  }
  .container p {
    padding: .5rem;
  }
  .bp-sections {
    margin: 2rem auto;
    width: 95%;
    width: 95vw;
  }
  .section-inner {
    padding: .5rem;
  }
  .display-1 {
    font-size: 2rem;
  }
  .display-3 {
    font-size: 1.8rem;
  }
}